@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
}

:root {
  --color-primary: #2563eb;
  --color-primary-dull: #1f58d8;
  --color-light: #f1f5f9;
}
.bg-primary {
  background-color: #2563eb;
}

.bg-primary-dull {
  background-color: #1f58d8;
}

.bg-light {
  background-color: #f1f5f9;
}
.text-muted-foreground {
  color: #6b7280;
}
.text-primary {
  color: #2563eb;
}
.text-primary-dull {
  color: #1f58d8;
}
.text-light {
  color: #f1f5f9;
}
.border-borderColor {
  border-color: #e5e7eb;
}